<!DOCTYPE html>
<html>
  <head>
    <title>Activation Code</title>
  </head>
  <body>
    <h1>Activation Code</h1>
    <h3>Hello <%=username%></h3>
    <p>Your activation code is: <b><%=activationCode%></b></p>
    <p>Please use this code to activate your account.</p>
    <p>This code expires in 5mins</p>
  </body>
</html>
